<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Employees List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let employee of employees; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)"
      >{{ employee.id_employee }}
      <div>
        <img src="{{ employee.picture }}" alt="Employee's picture" width="70px">
      </div>
      {{ employee.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEmployees()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentEmployee">
      <h4>Employee</h4>
      <div>
        <img src="{{ currentEmployee.picture }}" alt="Employee's picture" width="70px">
      </div>
      <div>
        <label><strong>ID:</strong></label>
        {{ currentEmployee.id_employee }}
        <label><strong>Name:</strong></label>
        {{ currentEmployee.name }}
        <label><strong>Picture:</strong></label>
        {{ currentEmployee.picture }}
        <label><strong>Phone Number:</strong></label>
        {{ currentEmployee.phone_number }}
        <label><strong>Email:</strong></label>
        {{ currentEmployee.email }}
        <label><strong>Hired Date:</strong></label>
        {{ currentEmployee.hired_date }}
        <label><strong>Manager's ID:</strong></label>
        {{ currentEmployee.manager_id }}
      </div>

      <a class="badge badge-warning" routerLink="/employees/{{ currentEmployee.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentEmployee">
      <br />
      <p>Please click on an employee...</p>
    </div>
  </div>
</div>
