<!-- Add employee -->
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <!-- Add new employee's ID -->
    <div class="form-group">
      <label for="id_employee">ID:</label>
      <input
        type="text"
        class="form-control"
        id="id_employee"
        required
        [(ngModel)]="employee.id_employee"
        name="id_employee"
      />
    </div>

    <!-- Add new employee's Name -->
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="employee.name"
        name="name"
      />
    </div>

    <!-- Add new employee's Picture -->
    <div class="form-group">
      <label for="picture">Picture:</label>
      <input
        type="text"
        class="form-control"
        id="picture"
        required
        [(ngModel)]="employee.picture"
        name="picture"
      />
    </div>

    <!-- Add new employee's Phone number -->
    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input
        type="text"
        class="form-control"
        id="phone_number"
        required
        [(ngModel)]="employee.phone_number"
        name="phone_number"
      />
    </div>

    <!-- Add new employee's Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        [(ngModel)]="employee.email"
        name="email"
      />
    </div>

    <!-- Add new employee's Hire Date -->
    <div class="form-group">
      <label for="hire_date">Hired Date:</label>
      <input
        type="date"
        class="form-control"
        id="hired_date"
        required
        [(ngModel)]="employee.hired_date"
        name="hired_date"
      />
    </div>

    <!-- Add new employee's Manager Id -->
    <div class="form-group">
      <label for="manager_id">Manager's ID:</label>
      <input
        class="form-control"
        id="manager_id"
        required
        [(ngModel)]="employee.manager_id"
        name="manager_id"
      />

    <!-- Button to implement IMPORTANT saveEmployee() method -->
    </div>
      <button (click)="saveEmployee()" class="btn btn-success">Submit</button>
    </div>

     <!-- Confirmation -->
    <div *ngIf="submitted">
      <h4>Employee was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newEmployee()">Add</button>
    </div>
  </div>
</div>
