<!-- View or edit employee's ID -->
<div>
  <div *ngIf="currentEmployee.id" class="edit-form">
    <h4>Employee</h4>
    <form>
      <!-- View or edit employee's ID -->
    <div class="form-group">
      <label for="id_employee">ID:</label>
      <input
        type="text"
        class="form-control"
        id="id_employee"
        required
        [(ngModel)]="currentEmployee.id_employee"
        name="id_employee"
      />
    </div>

    <!-- View or edit employee's Name -->
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="currentEmployee.name"
        name="name"
      />
    </div>

    <!-- View or edit employee's Picture -->
    <div class="form-group">
      <label for="picture">Picture:</label>
      <input
        type="text"
        class="form-control"
        id="picture"
        required
        [(ngModel)]="currentEmployee.picture"
        name="picture"
      />
    </div>

    <!-- View or edit employee's Phone number -->
    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input
        type="text"
        class="form-control"
        id="phone_number"
        required
        [(ngModel)]="currentEmployee.phone_number"
        name="phone_number"
      />
    </div>

    <!-- View or edit employee's Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="currentEmployee.email"
        name="email"
      />
    </div>

    <!-- View or edit employee's Hire Date -->
    <div class="form-group">
      <label for="hired_date">Hired Date:</label>
      <input
        type="date"
        class="form-control"
        id="hired_date"
        required
        [(ngModel)]="currentEmployee.hired_date"
        name="hired_date"
      />
    </div>

    <!-- View or edit employee's Manager Id -->
    <div class="form-group">
      <label for="manager_id">Manager's ID:</label>
      <input
        type="text"
        class="form-control"
        id="manager_id"
        required
        [(ngModel)]="currentEmployee.manager_id"
        name="manager_id"
      />
    </div>

    </form>

    <button class="btn btn-danger mr-2" (click)="deleteEmployee()">
      Delete
    </button>

    <button
      type="submit"
      class="btn btn-success mr-2"
      (click)="updateEmployee()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

</div>
